html{
	scroll-behavior: smooth;
}
body{
	padding: 0;
	margin: 0;
}
.container{
	max-width: 67.5em;
	margin: auto;
}
.clearfix:after{
	content: "";
	display: table;
	clear: both;
}
header{
	background-color: black;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	padding-bottom: 1em;
}
nav ul{
	list-style: none;
}
nav ul li{
	float: left;
	padding-right: 2em;
}
nav ul li a{
	text-decoration: none;
	font-family: helvetica, arial, sans-serif;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
}
.hero{
	overflow: auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding-top: 250px;
	padding-bottom: 200px;
}
h1, .hero span{
	font-family: helvetica, arial, sans-serif;
	color: white;
	padding: 0;
	margin: 0;
	font-size: 50px;
}
h2{
	font-family: helvetica, arial, sans-serif;
	text-align: center;
	padding-top: 2em;
}
h3{
	font-family: helvetica, arial, sans-serif;
	font-size: 5em;
	margin: 0;
	margin-bottom: 0.625em;
	color: white;
	z-index: 1;
}
p{
	font-family: helvetica, arial, sans-serif;
}
.about img{
	width: 50%;
	float: left;
}
.about p, .about h2 {
	width: 45%;
	float: left;
	padding-left: 2em;
	font-family: helvetica, arial, sans-serif;
	text-align: left;
	font-size: 16px;
}
.about h2{
	padding-top: 0;
	display: inline;
}
.portfolio{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	padding-bottom: 3.125em;
	padding-top: 3.125em;
}
.portfolio a{
	color: white;
	text-decoration: none;
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0.625em 1.875em;
	border: 0.125em solid white;
	border-radius: 3.125em;
}
.portfolio a:hover{
	color: black;
	background-color: white;
}
.overlay{
	background: black;
	opacity: 0.7;
}
.virtualreality{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/aphasia_copy.jpg);
}
.model{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/robot.jpg);

}
.animation{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/animation.jpg);
}
.sketchfab iframe{
	width: 50%;
	float: left;
	display: inline;
}
.sketchfab h2{
	float: left;
	display: block;
	width: 100%;
}
input[type=text], textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical; 
}
textarea{
  height: 200px;
}
input[type=submit] {
  width: 100%;
  font-family: helvetica, arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  background-color:black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
}

input[type=submit]:hover {
  background-color: #E0E0E0;
  color: black;
}
footer{
  width: 100%;
  background-color: black;
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  float: left;
}
